<div class="class">
    <ul>
        <li *ngFor="let animal of animais"> Nome: <a routerLink="/list/{{ animal.id }}"> {{animal.nome}} </a> -  tipo: {{animal.tipo}}
         <button (click)="showAge(animal)">Show age</button>
         <button (click)="removendoAnimal(animal)" >Excluindo</button>
        </li>
    </ul>
    <h3>{{animalDetails}}</h3>

    <div *ngIf="animal" class="class">
        <h2>Id: {{animal.id}}</h2>
    </div>

    <ul>
        <li *ngFor="let produto of produtos">
            Nome: <a routerLink="/produtos/{{produto.name}}"> {{produto.name}} </a> - Quantidade: {{produto.ml}} - Qual tarja: {{produto.tarja}} - Valor {{produto.preco | currency: "BRL"}}
           <button (click)="showPreco(produto)">Show preço</button>
           <button (click)="removendoProduto(produto)">Excluir</button>
        </li>
    </ul>
    <h1> {{mostPreco}} </h1>

    
</div>
