<div class="class">
    <ul>
        <li *ngFor="let animal of animais"> Nome: <a routerLink="/list/{{ animal.id }}"> {{animal.nome}} </a> -  tipo: {{animal.tipo}}
         <button (click)="showAge(animal)">Show age</button>
         <button (click)="remopvendoAnimal(animal)" >Excluindo</button>
        </li>
    </ul>
    <h3>{{animalDetails}}</h3>

    <div *ngIf="animal" class="class">
        <h2>Id: {{animal.id}}</h2>
    </div>

    <ul>
        <li *ngFor="let produto of produtos">
            Nome: {{produto.name}} - Quantidade: {{produto.ml}} - Qual tarja: {{produto.tarja}} - Valor {{produto.preco | currency: "BRL"}}
           <button (click)="showPreco(produto)">Show preço</button>
           <button (click)="removendoProduto(produto)">Adicionar</button>
        </li>
    </ul>
    <h1> {{mostPreco}} </h1>

    <form action="" method="post" #frm="ngForm" (ngSubmit)="criar(frm)">
        <input type="number" [(ngModel)]="id" name="id" placeholder="Id">
        <input type="text" [(ngModel)]="nome" name="nome" placeholder="Nome" required>
        <input type="text" [(ngModel)]="tipo" name="tipo" placeholder="Tipo" required>
        <input type="text" [(ngModel)]="age" name="age" placeholder="Age" required>
        <button type="submit" [disabled]="frm.invalid">Enviar</button>
       
    </form>

    <input type="text" [(ngModel)]=" mostrarItem">
    <ul>
        <li *ngFor="let item of items ">
            {{item}}
        </li>
        <button (click)="enviar()">Dastrar</button>
    </ul>
    {{ mostrarItem}}
    
</div>
