<header>header da pagina</header>

<h2>Não é para ganhar a cor</h2>

<app-list-render></app-list-render>
<nav>
 
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="list">Produtos</a></li>
        <li><a routerLink="emiter">Emiter</a></li>
        <li><a routerLink="two">Two way </a></li>
        <li><a routerLink="eventos">Eventos</a></li>
        <li><a routerLink="if">If</a></li>
        <li><a routerLink="sergio">{{"SERGIO" | uppercase}}</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>

<footer>pé do site</footer>